div.general-settings-section-inner-wrapper {
  width: fit-content;

  display: flex;
  flex-direction: column;
  gap: 0.5em;

  width: 100%;
}

section.general-settings-section-wrapper div.standard-form-row {
  justify-content: space-between;
  width: 100%;
  border: var(--border-pri);
  border-color: var(--clr-accent-light);
  padding: 0.5em;
  align-items: center;
}

div.default-view-mode-section button.active {
  background-color: var(--clr-accent-dark);
  color: var(--clr-white);
  pointer-events: none;
}

div.default-view-mode-buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}