div.settings-page-inner-wrapper {
  width: fit-content;
  max-width: 600px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;

  margin: 0 auto;
  padding: 20px;

  border: var(--border-pri);
  border-width: 2px;

  width: 100%;
}

.settings-sub-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;

  width: 100%;
  padding: 10px;
  border: var(--border-pri);
}

section.settings-section h2 {
  font-size: 1.4em;
  font-weight: 600;
}

@media (max-width: 980px) {
  div.settings-page-inner-wrapper {
    max-width: 100%;
  }
}