div.create-page-alternate-upload-links {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

div.create-page-alternate-upload-links a {
  color: var(--clr-accent-light);
  text-decoration: underline;
}

div.create-page-alternate-upload-links a:hover, div.create-page-alternate-upload-links a:focus {
  color: var(--clr-accent-dark)
}