form.standard-form {
  padding: 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1em;

  width: fit-content;
  max-width: 100%;
  margin: 0 auto;
}

div.standard-form-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 0.4em;
  width: 100%;
}

div.standard-form-row.start {
  justify-content: start;
}

div.standard-form-row.space-between {
  justify-content: space-between;
}

.standard-input {
  border: var(--border-pri);
  padding: 0.2em 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.standard-input:hover, .standard-input:focus {
  color: var(--clr-accent-dark);
  box-shadow: var(--box-shadow-normal);
}

select.standard-input {
  width: fit-content;
}

.standard-button {
  border: var(--border-pri);
  padding: 0.2em 0.4em;
  /* text-transform: capitalize; */
  cursor:default;
  user-select: none;
}

.standard-button:hover, .standard-button:focus {
  box-shadow: var(--box-shadow-normal);
  color: var(--clr-accent-dark);
}

.standard-button:active:hover {
  scale: 0.95;
  box-shadow: var(--box-shadow-small);
}

.standard-button:disabled {
  color: var(--clr-accent-light);
  border-color: var(--clr-accent-light);
  pointer-events: none;
}

.icon-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}

button.hidden-submit-button {
  display: none;
  position: absolute;
}

.link-button {
  cursor: pointer;
  text-decoration: underline;
  color: var(--clr-accent-dark);
}

.link-button:hover {
  color: var(--clr-accent-light);
}

div.standard-form-labeled-checkbox-wrapper>input {
  width: 1em;
  height: 1em;
  border: var(--border-pri);
}

div.standard-form-labeled-checkbox-wrapper>input:checked {
  background-color: var(--clr-accent-dark);
}

label {
  cursor:default;
  user-select: none;
}