form.standard-form {
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;

  width: fit-content;
  max-width: 100%;
  margin: auto;
}

div.standard-form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.standard-input {
  border: var(--border-pri);
  padding: 5px 10px;
}

.standard-input:hover, .standard-input:focus {
  color: var(--clr-accent-dark);
  box-shadow: var(--box-shadow-normal);
}

.standard-button {
  border: var(--border-pri);
  padding: 4px 8px;
  text-transform: capitalize;
  cursor:default;
  user-select: none;
}

.standard-button:hover, .standard-button:focus {
  box-shadow: var(--box-shadow-normal);
  color: var(--clr-accent-dark);
}

.standard-button:active:hover {
  scale: 0.95;
  box-shadow: var(--box-shadow-small);
}

.standard-button:disabled {
  color: var(--clr-accent-light);
  border-color: var(--clr-accent-light);
  pointer-events: none;
}

.link-button {
  cursor: pointer;
  text-decoration: underline;
  color: var(--clr-accent-dark);
}

.link-button:hover {
  color: var(--clr-accent-light);
}

div.standard-form-labeled-checkbox-wrapper>input {
  width: 20px;
  height: 20px;
  border: var(--border-pri);
}

div.standard-form-labeled-checkbox-wrapper>input:checked {
  background-color: var(--clr-accent-light);
}

label {
  cursor:default;
  user-select: none;
}