:root {
  --clr-white: #F6F7EB;
  --clr-black: #383F42;

  --clr-accent-light: #EE85B5;
  --clr-accent-dark: #993392;

  --clr-bg-light: #879197;
  --clr-bg-dark: #42494D;

  --clr-translucent-light: rgba(0, 0, 0, 0.1);

  --clr-error: red;
  --clr-success: green;

  --border-pri: 1px solid var(--clr-black);
  --border-loading-spinner: solid 5px var(--clr-white);

  --box-shadow-large: 10px 10px 10px var(--clr-black);
  --box-shadow-normal: 2px 2px 2px var(--clr-black);
  --box-shadow-small: 1px 1px 1px var(--clr-black);

  --bg-gradient: linear-gradient(127deg, var(--clr-bg-dark) 0%, var(--clr-bg-light) 100%);
}