nav.primary-nav-wrapper {
  margin-top: 10px;
  background-color: var(--clr-black);
  color: var(--clr-white);
  border: var(--border-nav);
  border-width: 2px 0;
}

div.primary-nav-inner-wrapper {
  max-width: 90%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 0px 20px 0px 10px;

  margin: auto;
}

nav.primary-nav-wrapper ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: 100%;
  position: relative;
}

nav.primary-nav-wrapper a {
  color: var(--clr-white);
  user-select: none;
}

nav.primary-nav-wrapper a:active:hover span.nav-link-label {
  scale: 0.9;
}

div.nav-link-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

span.nav-link-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  height: 40px;
  padding: 10px;
  z-index: 3;
}

div.nav-link-wrapper::before, div.nav-link-wrapper::after {
  content: '';
  height: 10px;
  width: 100%;
  position:absolute;
  z-index: 2;
  border: var(--border-nav);
  border-color: transparent;
}

div.nav-link-wrapper::before {
  border-radius: 5px 5px 0 0;
  border-width: 2px 0 0 0;
  top: -5px;
}

div.nav-link-wrapper::after {
  border-radius: 5px 5px 0 0;
  border-width: 2px 0 0 0;
  bottom: -5px;
}

nav.primary-nav-wrapper a.active>div.nav-link-wrapper::before {
  background-color: var(--clr-black);
  border-color: var(--clr-accent-light);
}

nav.primary-nav-wrapper a.active>div.nav-link-wrapper::after {
  background: var(--bg-gradient);
  background-attachment: fixed;
  border-color: var(--clr-accent-light);
}

nav.primary-nav-wrapper a.active span.nav-link-label {
  translate: 0 -4px;
}

nav.primary-nav-wrapper a:hover, nav.primary-nav-wrapper a:focus {
  color: var(--clr-accent-light);
}

@media (max-width: 980px) {
  span.nav-hide-when-small {
    display: none;
  }

  nav.primary-nav-wrapper ul {
    margin: 0 auto;
  }

  span.nav-link-label {
    height: 50px;
  }
}