div.browse-page-controls-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  margin: 0 auto;

  width: fit-content;

  padding: 0.5em;
}

div.browse-view-mode-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
  width: 100%;
}

div.browse-view-mode-buttons>button {
  flex: 1;
  min-width: fit-content;
  text-align: center;
}

div.browse-view-mode-buttons>button.active {
  background-color: var(--clr-accent-dark);
  color: var(--clr-white);
  pointer-events: none;
}

.browse-date-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 0.5em;
}

.browse-date-controls button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}