.detail-bar-chart-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: min(100%, 800px);
  margin: 0 auto;
  padding: 1em;
  border: var(--border-pri);
}