div.browse-page-display-wrapper {
  overflow-x: scroll;
  width: 100%;
}

div.browse-page-display-reports-wrapper {
  display: grid;
  grid-template-columns: repeat(7, min-content);
  margin: 0 auto;
  width: fit-content;
}

.browse-page-display-card-outer-wrapper {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

div.browse-page-display-card-outer-wrapper>* {
  flex: 1;
}

div.days-page-display-days-of-the-week-cell {
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.5em;
  background: var(--bg-gradient);
  background-attachment: fixed;
  box-shadow: inset var(--box-shadow-normal);
  color: var(--clr-white);
  border: var(--border-pri);
}

@media (max-width: 1320px) {
  div.browse-page-display-wrapper {
    overflow-x: hidden;
  }
  
  div.browse-page-display-reports-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .browse-page-display-card-outer-wrapper.days-of-the-week {
    display: none;
  }
}