.detail-display-wrapper {
  width: 100%;
}

.detail-control-button {
  flex: 1;
  text-align: center;
}

.detail-control-button.active {
  background-color: var(--clr-accent-dark);
  color: var(--clr-white);
  pointer-events: none;
}

.detail-chart-wrapper {
  padding: 1em;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}