form.create-report-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: var(--border-pri);
  min-width: fit-content;
  width: min(800px, 100%);
}

form.create-report-form-wrapper h2 {
  text-align: center;
}

form.create-report-form-wrapper h3 {
  /* color: var(--clr-accent-dark); */
}

form.create-report-form-wrapper>div.form-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}

div.create-report-form-subsection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

div.transaction-input-wrapper {
  border: var(--border-pri);
  border-color: var(--clr-accent-light);
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 1em;
  
  width: max(100%, max-content);
}

@media (max-width: 980px) {
  form.create-report-form-wrapper>div.form-body {
    flex-direction: column;
    align-items: stretch;
  }
}