div.report-display-card-wrapper {
  border: var(--border-pri);
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-white);
  box-shadow: 0px 0px 0px var(--clr-black);
  transition: scale 50ms linear, box-shadow 50ms linear;
  width: min(100%, 500px);
  margin: 0 auto;
  font-size: 1.2em;
  overflow: hidden;
}

div.report-display-card-top {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

span.report-display-card-date, span.report-display-card-total {
  font-size: 1.3em;
  text-wrap: nowrap;
  font-weight: 700;
  text-align: center;
}

div.report-display-card-breakdowns {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 5px;
  width: 100%;
}

div.report-display-card-breakdown-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 0 3px 0;
  border: var(--border-pri);
  border-width: 0 0 1px 0;
  font-size: 0.7em;
}

div.report-display-card-breakdown-row:last-child {
  border: none;
}

.earning-color {
  color: var(--clr-earning);
}

.expense-color {
  color: var(--clr-expense);
}