div.standard-form-labeled-checkbox-outer-wrapper {
  border: var(--border-pri);
  padding: 0.5em;
  flex: 1;
}

div.standard-form-labeled-checkbox-outer-wrapper:hover, div.standard-form-labeled-checkbox-outer-wrapper:focus {
  box-shadow: var(--box-shadow-normal);
  color: var(--clr-accent-dark);
}

div.standard-form-labeled-checkbox-outer-wrapper:active:hover {
  scale: 0.95;
  box-shadow: var(--box-shadow-small);
}

div.standard-form-labeled-checkbox-wrapper {
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  width: 100%;
}