div.transaction-category-settings-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  width: 100%;
}

div.transaction-categories-section-subsection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  border: var(--border-pri);
  border-color: var(--clr-accent-light);
  padding: 0.5em;
}

div.settings-expense-category {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 0.2em;
  padding: 0.5em 0em;
}

div.settings-expense-category-subcategories ul {
  padding: 0.5em 0em 0.5em 1em;
  list-style-type: square;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

li.settings-expense-subcategory>div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 0.5em;
  width: 100%;
}

li.settings-expense-subcategory span {
  word-break: break-all;
}

li.settings-expense-subcategory button {
  flex-shrink: 0;
}